
 html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
  margin: 0;
  text-align: center;
  background: rgb(0, 0, 0);
  color: #afa6a6;
  font-size: 16px;
  line-height: 1.7;
  
  }
  .navigation {
    padding: 0%;
    margin: 0%;
  }
  .splash {
    height: 100vh;
    position: relative;
    background-image: url(https://images.pexels.com/photos/1938348/pexels-photo-1938348.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
 .splash-inner {
  text-align: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }
 .page-title {
  color: #afa6a6;
  font-size: 60px;
  margin: 48px 0 0 0;
  text-shadow: 2px 4px 10px black;
  
}
.page-title::after {
  position: absolute;
  content: '';
  bottom: 70px;
  left: 50%;
  width: 700px;
  height: 5px;
  transform: translateX(-50%);
}
.page-subtitle {
  color: #fff;
  font-size: 25px;
  margin: 48 0 0 0;
  text-shadow: 2px 4px 10px black;
}

  